body {
  background: lightblue;
  text-align: center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle{
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  border-radius: 50px;
  background: pink;
  color: white;
  cursor: pointer;
  transition: background 1s, transform 0.3s 1s ease-out;
}

.circle:hover{
  background: salmon;
  transform: rotate(360deg);
}