body,html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #ffffff;
}

#hero {
    text-align: center;
    background: #6943FF;
    padding: 60px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head {
    font-size: 40px;
    margin: 10px;
    font-weight: 800;
}

#input-el{
    padding: 2px 32px;
    width: 120px;
    font-size: 90px;
    margin: 60px;
    text-align: center;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    font-weight: 800;
    color: #ffffff;
    line-height: 42%;
}

#input-el:focus{
    outline: 0px;
    border: 2px solid #ffffff;
}

#convert-btn {
    padding: 20px 20px;
    width: 190px;
    font-size: 30px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 0px;
    border-radius: 5px;
    background: #ffffff;
    font-weight: 500;
}

#convert-btn:active {
    box-shadow: 0px 0px 2px inset;
}

#display{
    background: #1F2937;
    text-align: center;
    overflow: auto;

}
.card{
    background: #273549;
    width:70%;
    display: block;
    margin: 30px auto;
    padding: 30px;
}

.card-head {
    color: #CCC1FF;
    font-weight: 500;
    font-size: 40px;
}

.card-content {
    font-weight: 400;
    font-size: 25px;
}